<div id="myid" style="width:200px;height:200px;border:1px solid red"></div>

<button id="button">Click</button>

<!-- <div (scroll)="onScroll($event)" 
 style="width:500px;height:500px;border:1px solid red"></div> -->
 
 <div appMouse 
 style="width:200px;height:200px;border:1px solid blue"></div>

 <button id="button-click">Click to count</button><br>
 <button id="black-btn">black btn</button><br>
 <button id="red-btn">red btn</button>
 <br>
 <div>Balck:<span id="black-count"></span></div>
 <div>Red:<span id="red-count"></span></div>